<footer id="contact">
  <div>
    <div class="left-footer-conatiner">
      <img
        src="/assets/img/footer/loos-gmbh-logo-removebg-preview.png"
        alt="Logo of Loos GmbH"
      />
      <div class="links">
        <h3>Über uns</h3>
        <!-- <a href="">Instagram</a> -->
        <a routerLink="/imprint">Impressum</a>
        <a routerLink="/privacy-policy">Datenschutz</a>
      </div>
    </div>
    <div class="right-footer-conatiner">
      <h3>CNC Gebr. Loos GmbH</h3>
      <div>
        <span>Ober dem Beilstein 18</span>
        <span>57614 Wahlrod</span>
        <a class="mail" href="mailto:cnc@loos.gmbh"
          >E-Mail: cnc&#0064;loos.gmbh</a
        >
        <a class="mobile-phone" href="tel:017623651693"> Mobil: 017623651693</a>
        <a class="phone" href="tel:026803400434">Telefon: 026803400434</a>
      </div>
    </div>
  </div>
</footer>
