<section class="imprint">
    <app-nav-bar></app-nav-bar>
  <div (click)="mobile.closeMenu()">
    <div>
      <h1>Impressum</h1>
      <div>
        <span>CNC Gebr. Loos GmbH</span>
        <span>Ober dem Beilstein 18 </span>
        <span>57614 Wahlrod </span>
      </div>
      <div>
        <span>Handelsregister: HRB 29892</span>
        <span>Registergericht: Amtsgericht Montabaur</span>
      </div>
      <div>
        <h3>Vertreten durch</h3>
        <span>Angelika Loos</span>
      </div>
    </div>
    <div>
      <h2>Kontakt</h2>
      <div>
        <span>Tel: <a href="tel:026803400434">026803400434</a></span>
        <span>E-Mail: <a href="mailto:cnc@loos.gmbh">cnc&#0064;loos.gmbh</a></span>
      </div>
    </div>
    <div>
      <h2>Umsatzsteuer-ID</h2>
      <p>
        Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:
        DE369141331
      </p>
    </div>
    <div>
      <h2>Verbraucherstreitbeilegung/Universalschlichtungsstelle</h2>
      <span
        >Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren
        vor einer Verbraucherschlichtungsstelle teilzunehmen.</span>
    </div>
    <div>
        <span>Quelle:</span>
        <a target="_blank" href="e-recht24.de">e-recht24.de</a>
    </div>
  </div>
  <app-footer></app-footer>
</section>
