<section>
  <h2>Unsere Werkstoffe</h2>
  <div class="work-materials">
    <div class="element">
      <h4>Fe–C</h4>
      <span>Stahl</span>
    </div>
    <div class="element">
      <h4>Fe–C–Cr–V</h4>
      <span>Werkzeugstahl</span>
    </div>
    <div class="element">
      <h4>Fe–Cr–Ni</h4>
      <span>Edelstahl</span>
    </div>
    <div class="element">
      <h4>Fe–C–Si</h4>
      <span>Gusseisen</span>
    </div>
    <div class="element">
      <h4>Al</h4>
      <span>Aluminium</span>
    </div>
    <div class="element">
      <h4>Cu–Zn</h4>
      <span>Kupferlegierung</span>
    </div>
    <div class="element">
      <h4>–(C₂H₄)ₙ–</h4>
      <span>Kunststoff</span>
    </div>
  </div>
</section>
