:root {
  --MainColor: #000000;
  --SecondaryColor: #aaadc4;
  --AccentColor: #4e598c;
}

@font-face {
  font-family: Roboto;
  src: url(./../public/assets/fonts/Roboto-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: Roboto;
  text-decoration: none;
  scroll-behavior: smooth;
}

app-root {
  background-color: black;
  display: flex;
  flex-direction: column; /* oder row, je nach Layout */
  align-items: center; /* horizontale Zentrierung */
  min-height: 100vh; /* Höhe des Viewports nutzen */
}

@keyframes slowBlendIn {
  from {
    height: 300px;
    width: 300px;
    opacity: 0%;
    filter: blur(5px);
  }
  to {
    filter: blur(0);
    height: 600px;
    width: 600px;
    opacity: 100%;
  }
}
