:root {
    --MainColor: #000000;
    --SecondaryColor: #AAADC4;
    --AccentColor: #4E598C;
}

@font-face {
  font-family: Roboto;
  src: url(./../public/assets/fonts/Roboto-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: Roboto;
  text-decoration: none;
  scroll-behavior: smooth;
}

app-root {
  display: flex;
  flex-direction: column; /* oder row, je nach Layout */
  align-items: center; /* horizontale Zentrierung */
  min-height: 100vh; /* Höhe des Viewports nutzen */
}
