<section>
  <div class="services">
    <div class="left-service-container">
      <!-- drehmaschine -->
    </div>
    <div class="right-service-container">
      <!-- fräse -->
    </div>
    <div class="middle-service-container">
      <!-- Bandsäge -->
    </div>
  </div>
  <div class="extra-services">
    <!--  acht extra arbeiten, also eine art tabelle damit bauen
          flex wrap oder ähnlichem
           -->
  </div>
  <div class="work-materials">
    <!-- in dieser klasse für jedes 
         material als bilder die chemischen verbindungen nennen -->
  </div>
</section>
