section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#1b3842 , black 80%);
//   background-image: linear-gradient(#202020 20%, black 80%);
  background-color: black;
  .services {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 3rem 0;
    .services-title{
      width: 80%;
      text-align: center;
      >p {
        margin: 2rem 0;
      }
    }
  }

  .service-categories{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;

    .left-service-container{
        width: 33%;
    }
  }
}
