<section>
  <div class="services">
    <div>
      <h2>Zerspanung - Präzision nach Maß</h2>
      <p>
        Unser Ziel ist es, Ihren individuellen Anforderungen gerecht zu werden
        und Ihnen hochpräzise Zerspanungsdienstleistungen zu bieten. Mit
        modernster Technik und langjährigem Know-how fertigen wir zuverlässig
        Bauteile in höchster Qualität.
      </p>
    </div>
    <div class="service-categories">
      <div class="left-service-container">
        <img src="" alt="image of a CNC Maschine" />
        <div>
          <h3>Drehen – Flexibilität und Präzision in einem</h3>
          <p>
            Mit unserer CNC-Drehmaschine fertigen wir präzise Drehteile in
            verschiedenen Größen und Formen. Dank angetriebener Werkzeuge und
            stabilem Reitstock sind auch komplexe Geometrien und lange
            Werkstücke kein Problem. Ideal für maßgeschneiderte Bauteile mit
            hoher Genauigkeit.
          </p>
          <p>Technische Daten:</p>
          <ul>
            <li>Okuma LB300-M</li>
            <li>Werkstückdurchmesser bis Ø 340 mm</li>
            <li>Drehlänge bis 900 mm</li>
            <li>Angetriebene Werkzeuge</li>
            <li>Reitstock für stabile Bearbeitung</li>
          </ul>
        </div>
        <!-- drehmaschine -->
      </div>
      <div class="right-service-container">
        <img src="" alt="image of a CNC Maschine" />

        <!-- fräse -->
      </div>
      <div class="middle-service-container">
        <img src="" alt="image of a CNC Maschine" />

        <!-- Bandsäge -->
      </div>
    </div>
  </div>
  <div class="extra-services">
    <!--  acht extra arbeiten, also eine art tabelle damit bauen
          flex wrap oder ähnlichem
           -->
  </div>
  <div class="work-materials">
    <!-- in dieser klasse für jedes 
         material als bilder die chemischen verbindungen nennen -->
  </div>
</section>
