section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  gap: 5rem;
  padding: 3rem 0;
  box-shadow: 1px 0 20px rgb(0, 0, 0);
  h2{
    text-align: center;
    padding: 0 1.5rem;
    font-size: clamp(2rem, 2.5rem, 3rem);
    color: var(--AccentColor);
  }
  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 3rem;
    text-align: center;
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      min-width: 200px;
      height: 200px;
      flex: 0 0 20%;
      padding: 0 1rem;
      transition: all ease 0.2s;
      border-radius: 25px;
      background-color: #0f172a;
      > h3 {
        color: var(--AccentColor);
      }
      > p {
        color: #d1d5db;
      }
      &:hover {
        transform: translateY(-20px);
        scale: 1.1;
        cursor: default;
      }
    }
  }
}




